@media screen and(min-width="330px") {
  .box {
    height: 23rem;
    width: 12rem;
  }
  .con-th {
    width: 11rem;
  }
}
@media screen and (max-width: 310px) {
  .box {
    height: 18rem;
    width: 10rem;
  }
  #heading {
    font-size: 19px;
  }
  .onoff {
    height: 1px;
    width: 10px;
    padding: 9px;
    margin: 2px;
  }
  #input {
    margin: 0.3rem 0.1rem;
    width: 9.4rem;
    height: 2.4rem;
    font-size: large;
    padding: 3px;
  }
  .cont-theme {
    width: 10rem;
  }
  .btn {
    height: 1.8rem;
    width: 1.8rem;
    padding: 3px;
  }
  .opp-btn-flex {
    width: 10.1rem;
  }
  .con-th {
    width: 11rem;
  }
}
